$bg-color: rgb(252, 141, 159);

* {
  text-align: center;
}

h1 {
  color: $bg-color;
}

.about {
  background-color: rgba(0, 0, 0, 0.753);
}

.text a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
