.episode {
  display: block;
  margin: 0 20% 70px 20%;
}

.episode::after {
  content: " ";
  display: table;
  clear: both;
}

.number {
  float: left;
  margin-right: 30px;
}

.episode img {
  float: left;
  margin: 0 30px 10px 0;
}

@media only screen and (max-width: 1100px) {
  .episode {
    margin: 0 10% 100px 10%;
  }
}

@media only screen and (max-width: 820px) {
  .episode {
    margin: 0 5% 100px 5%;
  }

  .number {
    float: none;
    display: block;
    margin: 0 auto 15px auto;
    text-align: center;
  }

  .episode img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
